<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Введите логин и пароль, пожалуйста!</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <img src="/images/image.png" />

        <form method="post">
            <input id="username" type="text" name="username"/>
            <br />
            <input id="password" type="text" name="password"/>
            <br />
            <input type="submit" value="Log in" />
        </form>
        <#if errorMessage??>
            <p>${errorMessage}</p>
        </#if>
    </body>
</html>